<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <script>if ('ActiveXObject' in window) alert('不支持 IE 浏览器，请更换至 Chrome 内核浏览器')</script>
</head>
<body>
<div id="root">
    <div style='text-align: center;opacity: 0.2; font-size: 12px; position: fixed; bottom: 12px; left: 12px; right: 12px; color: #888;'>
        由 <a style="text-decoration: none; color: #888" href="http://mbbs.cc">MBBS</a> 提供论坛服务
    </div>
</div>
</body>
</html>
